@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
*{
	font-family: 'Playfair Display', serif;
	margin: 0px; padding: 0;
}


.bg-dark {
    background-color: 
    #000 !important;
}


/*Linha na barra de produtos*/
.linha{
	height: 2px; border:none; color:#000; background-color: #000; margin-top: 0px; margin-bottom: 0px;
}
/*/linha na barra de produtos*/


/*Cor de fundo do site*/
 body{
	height: 100%; /* DEfine a altura do gradiente */
	background: linear-gradient(#1C1C1C , #808080);
	margin: 4px;
} 
/*Cor de fundo do site*/


/*Fixar menu*/
#idtopbar {
    position: -webkit-sticky; /* Necessário para funcionar no Safari */
    position: sticky;
    top: 0;
}



/*Lestras form ctt*/
.black{
	color: #000;
	background-color: white; opacity: 0.4; 
}

/*Pinta fundo de preto*/
.preto {
	background-color: #000000; 
}
/*Pinta fundo de preto*/

/*Pinta de branco*/
	.white{
		color: white;
	}
/*/Pinta de branco*/

/*Pinta de branco e aumenta o tamanho da letra*/
	.branco{
		color: #fff;
		font-size: 2em;
	}
/*Pinta de branco*/

/*Tirar cor de fundo do link*/
.link:hover{
	color: white;
}
/*Tirar cor de fundo do link*/

/*Define Tamanho*/
.tamanho{
	height: 10%;
}
/*Define tamanho*/

/*Letra grende*/
.fonteGrande{
	font-size: 1.5em;
	justify-content: center;
	margin-right: 30%;
}
/*/Letra grende*/

/*Navegação lateral*/
	#nav{
		margin: O;padding: 0; float: left;
	}
	#nav li{
		list-style:none; background: #fff; width: 250px; border-bottom: 1px solid #666;
	}
	#nav li a{ 
		display: block; padding: 8px; border-left: 4px solid #444; text-decoration: none; box-shadow: 2px 2px 5px #CCC; color:#555;
	}

	#nav li a:hover { border-left: 4px solid #069; background: #f8f8f8; }
	#nav li ul { display: none; }
	#nav li:hover ul{ display: block; }
	#nav li:hover ul li { background: #333; }
	#nav li:hover ul li a { color: #ccc; }
	#nav li:hover ul li a:hover { background: #222; border-left: 4px solid #900; }

/*Navegação lateral*/




/*Botão de voltar ao topo*/
#subirTopo {
text-decoration: none;
background: black;
bottom: 30px;
right: 30px;
color: white;
text-align: center;
cursor: pointer;
padding: 15px;
font-size: 10px;
font-weight: bold;
text-transform: uppercase;
position: fixed;
border: 0;
font-family: sans-serif;
opacity: .8;
}

#subirTopo:hover {
opacity:1;
}
/* /botão de voltar ao topo */






.fotos{
	height: 250px;
}
.carde{
	height: 190px;
	
}

.centro{
	size: 50px;
}

.tfonte{
	font-weight: 3em;
}

.h1{
	margin: auto; 
 }

 .titulos{
	text-align: center;
	color:#CCC;
 }

 .container{
	height: 350px;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
 }

 .icones{
	margin: 5px;
	
 }

 .dd{
	padding-top: 150px;
	text-align: left;
 }

 .promocoes{
	text-align: center;
	color: #CCC;
 }